{% extends 'base.html' %}

{% block title%}
<title>s3MetaFora</title>
{% endblock %}

{% block content %}
  <h3>Upload to Amazon S3</h3>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
  </form>

  <h3>Latest Uploaded Files:</h3>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Uploaded at</th>
        <th>Size</th>
      </tr>
    </thead>
    <tbody>
      {% for document in documents %}
        <tr>
          <td><a href="{{ document.upload.url }}" target="_blank">{{ document.upload.name }}</a></td>
          <td>{{ document.uploaded_at }}</td>
          <td>{{ document.upload.size|filesizeformat }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="3">No data.</td>
        </tr>
      {% endfor %}
    </tbody>
    <table border="0">
    <tr>
        <td bgcolor="#fafafa" style="width:100%;"><a href="{% url 'filelist' %}" target="_blank" style="text-decoration: none;"><i><center>Click here for complete list of files...</center></i></a></td>
    </tr>
    </table>
  </table>
{% endblock %}
